<div class="container">
  <div class="row">
    <span
      class="bi"
      [ngClass]="{
      'bi-star-fill': isSelected,
      'bi-star': !isSelected
      }"
      (click)="onClick()"
    ></span>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <button [ngStyle]="{
  'background-color': canSave ? 'blue':'gray',
  'color': canSave ? 'white':'black',
  'font-weight': canSave ? 'bold':'normal'
}">
        Save
      </button>
    </div>

  </div>
</div>
